// It's highly recommended to change the default colors
// to match your app's branding.
//#26A69A
// #21BA45

$primary   : #43c3a1;
$primary-2 : #05668d;
$secondary : #e56353;
$accent    : #D81B60;

$dark      : #1D1D1D;

$positive  : #00b336;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$navbar : #05668d;

$txtDark : darkslategrey;
$txtHead : midnightblue;

$consoleBlack: #282a36;
$darkblue: #023047;
$indigo-9: #283593; 


.text-darkblue{
    color: #023047;
}
.bg-darkblue {
    background: #023047;
}

.text-consoleBlack{
    color: #282a36;
}
.bg-consoleBlack {
    background: #282a36;
}

.text-navbar {
    color: #05668d;
}

.bg-navbar {
    background: #05668d;
}

@import '~quasar-variables-styl'
